body{
	width:100%;
	height:100%;
	background:#fafafa;
	position:absolute;
}
header{
	width:100%;
	position:fixed;
	z-index:9999;
}
	
.null{
	height:4rem;
	clear:both;
}
.category{
	width:8%;
	background:#fafafa;
	position:fixed;
	top:90%;
	right:3%;
	padding:0.8rem;
	border-radius:100%;
}
.top_nav {
	background:#f1f1f1;
}

.top_nav ul li{
	width:26%;
	text-align:center;
	font-size:1.5rem;
	padding:1rem;
	float:left;
}
.first_li{
	border-bottom: 1px solid red;
}
.first_li a{
	color:red;
}
.top_nav img{
	width:10%;
	padding:1rem;
	float:left;
	
}
.jd_bar{
	display:none;
}
.jd_bar ul li{
	
	width:25%;
	background:#333;
	float:left;
	padding:0.2rem 0.8rem;
	color:#fafafa;
	text-align:center;
}
.jd_bar ul li img{
	width:30%;
	padding:0.1rem;
}

/*头部样式结束*/
		
/***********轮播图开始***********/
.slider{
    overflow: hidden;
    position: relative;
}
.rahmen{
    width:100%;
    overflow: hidden;
    position: relative;
    background:#eee;
}
.rahmen>img{
    width:100%;
    opacity: 0;
}
.banner_imgs {
  /* 6倍屏幕宽度 */
  width: 600%;
  position:absolute;
  top:0px;
  left:0px;
}
.banner_imgs li {
  /* 一倍的屏幕宽度 */
  width: 16.666%;
  float: left;


}
.banner_imgs li a {
  display: block;
  width: 100%;
}
.banner_imgs li a img {
  display: block;
  width: 100%;
}
.banner_index {
  position: absolute;
  bottom: 7%;
  left: 32%;
  margin-right: 2rem;
}
.banner_index li {
  float: left;
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 1rem;
}
.banner_index li.current {

  background-color: #fff;

}
/***********轮播图结束***********/

/*主体样式开始*/
.good_img{
	width:100%;
	overflow: hidden;
	border-bottom: 1px solid #aaa;
	position:relative;
}
/*.banner_imgs{
	width:500%;
}*/
/*.good_img ul li{
	width:20%;
	float:left;
}*/
.index{
	clear:both;
	width:3.5rem;
	height:3.5rem;
	line-height:3.5rem;
	background:rgba(158, 158, 158, 0.42);
	position: absolute;
	top:88%;
	right:3%;
	color:#fff;
	font-size:1.8rem;
	text-align:center;
	z-index:999;
	border-radius:100%;
}

.title_text{
	background:#fff;
}
.title_text p{
	font-size:1.6rem;
	padding:0.6rem;

}
.title_text p span{
	color:#fff;
	font-size:1.2rem;
	background:red;
	padding:0.1rem;
	margin:0.6rem;
}
.prod-price-wrap{
	padding:1rem;
}
.prod-price-wrap span{
	font-size:1.8rem;
	color:red;
}
.prod-price-wrap a{
	float:right;
	padding:0.2rem;
	border: 0.1rem solid #aaa;
}
.prod-seckill{
	padding:0 1rem;
}
.title_text .prod-seckill p{
	font-size:1.3rem;
}
.prod-seckill span{
	color:red;
}
.prod-act p{
	color:#aaa;
	font-size:1.34rem;
}
.prod-act a{
	color:red;
	border-bottom:0.1rem solid red;
}
.prod-promotion{
	background:#fff;
	padding:0 1rem 1rem 1rem;
	margin:1rem 0;
}
.prod-promotion p{
	font-size:1.3rem;
	color:#aaa;
	padding:1rem;
}
.prod-promotion p em{
	font-size:1.4rem;
	color:#000;
	padding:1rem;	
}
.prod-promotion .prod-icon{
	width:30%;
	height:6rem;
	float:left;
}
.prod-promotion .prod-icon span{
	width:10%;
	font-size:1.2rem;
	color:red;
	margin:0  0 0 5rem;
	border:0.1rem solid red;

}
.prod-promotion span{
	font-size:1.4rem;
}
.prod-spec{
	background:#fff;
	margin:0 0 1rem 0;
	padding:1rem;
}
.prod-spec p{
	color:#aaa;	
	font-size:1.4rem;

}
.prod-spec span{
	color:#333;
	font-size:1.4rem;	
}
.prod-spec em{
	color:red;
	font-size:1.2rem;
	margin:0 0 0 3rem;
}
.prod-p p{
	font-size:1.2rem;
	color:#aaa;
	padding:0 1rem 1rem 1rem;
}
.shop-part{
	background:#fff;
	padding-bottom:1rem;
}
.shop-part img{
	width:20%;
	margin:1rem;
}
.shop-part img{
	float:left;
}
.shop-part p{
	font-size:1.4rem;
	padding:1rem 1rem 0 1rem;
}
.shop-part p span{
	background:red;
	color:#fff;
}
.shop-part em{
	color:#aaa;
	font-size:1.2rem;
}
.shop-part ul li{
	text-align:center;
	float:left;
	font-size:1.4rem;
}
.shop-part ul li span{
	font-size:1.2rem;
	color:#aaa;
}

.shop-footer a{
	/*display:block;*/
	width:30%;
	font-size:1.3rem;
	padding:0.5rem 5rem;
	border: 1px solid #aaa;
	margin:0 1.8rem;
}
.more-detail{
	background:#fff;
	padding:1rem;
	margin:1rem 0;
}
.more-detail span{
	color:#aaa;
	font-size:1.4rem;
}
.more-detail p{
	font-size:1.4rem;
	color:#222;
	float:right;
}
.more-detail p em{
	padding:0 1rem;
	color:red;
}
.more_detail h2{
	background:#fff;
	font-size:1.5rem;
	padding:1rem;
	margin:1rem 0;
}
.bottom-tip-floor{
	text-align:center;
	padding-top:2rem;
	padding-bottom:8.6rem;
	font-size:1.2rem;	
}
.bottom-tip-floor a{
	color:#888;
}

/*主体样式结束*/

/*底部样式开始*/
footer{
	width:100%;
	position:fixed;
	bottom:0;
	background:rgba(249, 249, 249, 0.9);;
}
footer ul li{
	font-size:1.2rem;	
	text-align:center;
	padding:2rem 0;
	opacity:0.9;
	/*border-right: 0.1rem solid #aaa;*/
}
footer ul #footer-bg{
	background: rgba(255, 0, 0, 0.83);
	padding:1.8rem 0;
	text-align:center;
}
footer ul #footer-bg a{
	font-size:1.5rem;	
	color:#fff;
	/*padding-bottom:3rem;*/
}
.iconfont {
    font-size: 2rem; 
}
/*底部样式结束*/