
.content{
	width:100%;
	margin:0;
	background:url(../images/activity/59b89b0eN121fadad.jpg) center no-repeat;
	background-size: 100% 100%;
}
.content_img a img{
	width:100%;
	background-size: 100%;
}
.good{
	background:url(../images/activity/59b89b0eN121fadad.jpg) no-repeat center;
	background-size: 100% 100%;
	border-radius:2rem;
	box-shadow: 0 0 0.5rem 0 rgba(0,0,0,.28);
	padding:2rem 0 4rem 0;
	margin: 3rem 2rem 0 2rem;
}
.good_bg{
	background:url(../images/activity/59b89afcNaf7c0a84.png) no-repeat center;
	background-size:90%;
}

.goodimg{
	width:25%;
	margin:-25rem 0 0 9rem;
}
.goodimg1{
	width:50%;
	margin:5rem 0 1rem -1rem;
}
.good_name{
	width:90%;
	height:5rem;
	background:rgba(2, 93, 216, 0.28);
	/*opacity: 0.3;*/
	margin: 0 auto;
	color:#0267ef;
	font-size:2.8rem;
	text-align:center
}
.good_dottmo{
	font-size:4rem;
}
.good_dottmo span{
	color:#fff;
}
.good_dottmo p span{
	color:#fffc00;
	font-size:2rem;
	float:left;
}
.good_dottmo p i{
    width: 2rem;
    height: 3rem;
    background: url(../images/activity/59b89af9Nb85f9969.png)no-repeat -10rem;
    background-size: 15rem 4rem;
    /*display: block;*/
    float:left;
}
.good_dottmo a{
	height:5rem;
	width:15rem;
	float:right;
	margin:2.5rem 0 0 0;
	line-height:5rem;
	font-size:2rem;
	color:#fff;
	background:#f76f2c;
	text-align:center;
	display:block;
	border-radius:5rem;
}
.good_dottmo1{
	background: url(../images/activity/59b89b10Neb9ef046.png) no-repeat center 80%;
    font-size: 2rem;
    background-size: 100% 165%;
    padding:0 0 6rem 0;
}

.good_dottmo1 .cu{
	width:40%;
	height:4rem;
	line-height:4rem;
	background:url(../images/activity/59b89b10Neb9ef046.png) no-repeat center 8%;
	font-size:1.8rem;
	margin:0 auto;
	text-align:center;
	color:#fff;
}

.good_dottmo2{
	width:90%;
	height:4rem;
	line-height:4rem;
	/*background:url(../images/activity/59b89b10Neb9ef046.png) no-repeat center 8%;*/
	font-size:1.8rem;
	margin:0 auto;
	text-align:center;
}
.good_dottmo2 a{
/*	height:5rem;
	width:15rem;
	float:right;*/
	/*margin:2.5rem 0 0 0;*/
	margin:1rem 0 0 2rem;
	line-height:5rem;
	font-size:2rem;
	color:#fff;
	background:#446dfe;
	text-align:center;
	display:block;
	border-radius:5rem;
}
.img img{
	width:100%;
}
.good_dottmo a{
    margin: 1rem 0 1.5rem 0;
}
.good_Af{
	padding:1rem 0;
}
/*.good_dottmo1 .good_button{
	width:10%;
	height:4rem;
	line-height:4rem;
	background:url(../images/activity/59b89b10Neb9ef046.png) no-repeat center 8%;
}*/