
/*====================右侧内容开始======================*/
.content_AF_text{
	width:720px;
	height:1000px;
	float:right;
	margin:15px 0 0 0;
}
.content_AF{
	width:1000px;
	height:1000px;
	margin:0 auto;
	
}
/*********************************/
.text_content{
	width:720px;
	height:910px;
	
}
.text_content .text_content_li{
	width:720px;
	height:25px;
	margin:0 0 12px 0;
	
}
.text_content .text_content_li h5{
	font-size:16px;
}
.text_content p{
	width:720px;
	margin:0 0 15px 0;
}

/*====================右侧内容结束======================*/