* {
    box-sizing: border-box;
}
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
img { border: 0 none; vertical-align: center; padding:0; margin:0;}
ul, li { list-style-type: none; margin:0px; padding:0px; border:none;}
h1, h2, h3, h4, h5, h6 { font-size: 2.2rem; }
body, input, select, button, textarea { font-size: 1.2rem; font-family:"黑体";  }
button { cursor: pointer; }
i, em, cite { font-style: normal; }
aside section,.body{display:block; width:1000px; margin:0 auto;}
a, a:link { color: #000; text-decoration: none; }/*设置a标签基本样式与伪类选择器设置*/
a:visited {}
a:active, a:hover { text-decoration: none; color:#d00000; }
a:focus { outline: none; } 

.orange { color:#F26E01;}

.clear {
	clear:both;
}